.mine{
    width: 100%;
    height: auto;
}
.mine .headers{
    height: auto;
    position: relative;
}
.mine .headers p{
    width: 100%;
    height: .9rem;
    line-height: .9rem;
    display: flex;
    color: #fff;
    position: absolute;
    top:0;
}
.mine .headers p .iconfont{
    width: 10%;
    height: 100%;
    font-size: .32rem;
    padding-left: .4rem;
}
.mine .headers p .mines{
    width: 80%;
    height: 100%;
    font-size: .3rem;
    text-align: center;
    display: inline-block;
}
.mine .headers dl{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
    background: url('../../static/img/mine/bg.png');
}
.mine .headers dl dt{
    height: 1rem;
    width: 1rem;
}
.mine .headers dl dt img{
    width: 100%;
    height: 100%;
}
.mine .headers dl dd{
    color: #fff;
    padding: .1rem 0;
}
.mine .mine-wddp{
    height: auto;
    background: #fff;
}
.mine .mine-wddp .p{
    height: .9rem;
    color: #FC4141;
    padding-left: .3rem;
    font-size: .3rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.mine .mine-wddp .p .iconfont{
    font-size: .5rem;
    padding-right: .2rem;
}
.mine .mine-list{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .16rem;
}
.mine .mine-list dl dt{
    text-align: center;
    padding-top: .2rem;
}
.mine .mine-list dl dt .iconfont{
    font-size: .46rem;
    color: #696969;
}
.mine .mine-list dl dd{
    color: #696969;
    padding-bottom: .2rem;
}
.mine .mine-lists{
    margin-top: .1rem;
}
.mine-lists{
    width: 100%;
    height: auto;
    background: #fff;
}
.mine-lists p{
    height: .8rem;
    display: flex;
    align-items:center;
    padding-left: .3rem;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    color: #696969;
}
.mine-lists p .spn{
    padding-right: .2rem;
    color: #696969;
}
.mine-lists p .spans .iconfont{
    padding-right: .1rem;
    font-size: .3rem;
    color: #696969;
}